body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    margin: 30px 0;
}

.section h4 {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.pet-images img {
    max-width: 100%;
    height: auto;
}

/* Hero Section Styling */
.hero {
    background-color: #003b6d; /* Same color as footer */
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}
